<!doctype html>
<html lang="en" ng-app="flightApp">

<head>
  <meta charset="utf-8">
  <title>Find Your Flight</title>
  <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css" />
  <link rel="stylesheet" href="app/css/app.css" />
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-aria/angular-aria.min.js"></script>
  <script src="node_modules/angular-route/angular-route.min.js"></script>
  <script src="node_modules/angular-animate/angular-animate.min.js"></script>
  <script src="node_modules/angular-messages/angular-messages.min.js"></script>
  <script src="node_modules/angular-material/angular-material.min.js"></script>
  <script src="app/js/app.module.js"></script>
</head>

<body>

  <div class="wrapper" ng-controller="flightController as ctrl">
    <div class="header">
      <h1>Flight Search Engine</h1>
    </div>
    <div class="left-col">
      <div class="sidebar">
        <ul class="tabs">
          <li>
            <label for="check1">

              <input id="check1" type="radio" name="trip" value="oneway" data-ng-checked="1" ng-model="ReturnShow" ng-value="false" />
              One way
            </label>
          </li>
          <li>
            <label for="check2">

              <input id="check2" type="radio" name="trip" value="return" ng-model="ReturnShow" ng-value="true" />
              Return</strong>
            </label>
          </li>
        </ul>
        <form novalidate name="myForm" class="searchform">
          <div>
            <label for="FromCity" title="From date">
             From
            </label>
            <input type="text" name="origin" class="form-control" placeholder="Enter Origin City" ng-model="src" ng-keyup="complete(src)" required>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="citydata in filterCity" ng-click="fillTextbox(citydata)">{{citydata}}</li>
            </ul>
          </div>
          <div>
            <label for="ToCity" title="ToCity">
              To
            </label>
            <input type="text" name="destination" class="form-control" placeholder="Enter Destinaton City" ng-model="dest" ng-keyup="retcomplete(dest)">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="returncitydata in filterReturnCity" ng-click="returnfillTextbox(returncitydata)">{{returncitydata}}</li>
            </ul>
          </div>
          <div>
            <label for="DepartDate" title="Depature date">
              Depart on
            </label>
            <!-- <input type="date" name="depart" ng-model="today" class="form-control" placeholder="Departure Date"> -->
            <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
          </div>
          <div ng-show="ReturnShow">
            <label for="ReturnDate" title="Return Date">
              Return on
            </label>
            <!-- <input type="date" name="return" class="form-control" placeholder="Return Date"> -->
            <md-datepicker ng-model="ctrl.returningDate" md-placeholder="Enter date"></md-datepicker>
          </div>
          <div>
            <label for="Passenges" title="Passenges">
              Passengers
            </label>
            <input type="text" name="passenger" class="form-control" placeholder="Passengers">
          </div>
          <div>
            <a class="search-btn" href="#!/flight" ng-click="SearchFlight()">Search Flights</a>
          </div>
        </form>

      </div>

      <div class="range-section">
        <h3>Refine flight search</h3>
        <!-- <input type="range" name="range" min="0" max="10000"> -->
        <md-slider-container>
          <span>0</span>
          <md-slider flex min="0" max="10000" ng-model="color.red" aria-label="red" id="red-slider">
          </md-slider>
          <md-input-container>
            <input flex type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider">
          </md-input-container>
        </md-slider-container>

       
        <!-- <md-slider ng-model="disabled1" aria-label="Disabled 1" flex md-discrete ng-readonly="readonly"></md-slider>
  
        <md-input-container>
          <input flex type="number" ng-model="disabled1" aria-label="green" aria-controls="green-slider">
        </md-input-container>
      </md-slider-container>
       -->


      </div>
    </div>
    <div class="right-col">

      <div class="flight-summary" ng-view></div>
    </div>


  </div>
</body>

</html>